body {
  margin: 0;
  font-family: sans-serif;

}

code {
  font-family: 'Courier New', monospace;
}

.App {
  min-width: 300px;
  max-width: 1024px;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1 {
  text-align: center;
}
